export("LMApaTable")
export("AOVApaTable")
export("PieChart")
export("TTestTable")
export("CorTable")
export("texregBetter")
export("PooledResults")
import(
  stats,
  stringr,
  furniture,
  dplyr
)
