export("LMApaTable")
export("AOVApaTable")
export("PieChart")
export("TTestTable")
export("CorTable")
export("texregBetter")
export("texregBetterGLM")
export("PooledResults")
export("PooledResultsGLM")
export("SEMModFit")
export("MultFreq")
export("CrossTab")
export("countGraph")
import(
  stats,
  stringr,
  furniture,
  dplyr
)
